.body{
    display: flex;
    justify-content: center;
    background: #a2cbff;
    height: 100%;
    align-items: center;

}
.login{
    width: 100%;
    max-width: 330px;
    text-align: center;
}
.anchoInput{
    width: 80%;
}
.anchoButton{
    width: 60%;
    height: 50px;
}
.spinner{
    margin: auto;
}